.countdown-title {
  text-align: center;
  border-bottom: 3px solid gray;
}

.exercise-title {
  text-align: center;
}

.workout-grid {  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controls-container {
  display: flex;
  justify-content: space-around;  
  border-top: 1px solid gray;  
 
}

.controls-container div {
  margin-top: 10px; 
}


